<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeWise"
        tools:targetApi="31">
        <activity android:name=".notes.NotesListActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".cheerup.CheerUpActivity" />
        <activity
            android:name=".alarms.activities.AlarmsListActivity"
            android:exported="true"
            />
        <activity android:name=".settings.ChangeLanguageActivity"/>
        <activity android:name=".notes.NotesTakerActivity" />
        <activity android:name=".cheerup.CatPictureActivity"/>
        <activity android:name=".cheerup.QuoteActivity"/>
        <activity android:name=".settings.ChangePasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".password.NewPasswordEnteringPageActivity" />
        <activity android:name=".password.PasswordEnteringPageActivity" />
        <activity android:name=".StartPageActivity" />
        <activity android:name=".alarms.activities.RingActivity"/>
        <receiver android:name=".alarms.broadcastreciever.AlarmBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".alarms.service.AlarmService" />
        <service android:name=".alarms.service.RescheduleAlarmsService" />


        <!-- first BroadcastReceiver - active on Device restart -->
        <receiver android:name=".calendar.DeviceRestart"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <!--         second BroadcastReceiver - will schedule and make the alarm (Notification) -->
        <receiver android:name=".calendar.MyNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <activity android:name=".calendar.ViewModel.AddTaskView"
            android:exported="false"/>
        <activity android:name=".calendar.ViewModel.DisplayTasksView"
            android:exported="false"/>
        <activity android:name=".settings.ChangeAppearanceActivity"
            android:exported="false"/>
        <activity
            android:name=".calendar.ViewModel.MainView"
            android:exported="false"
            android:label="Calendar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

    </application>

</manifest>